<h2>Product Details</h2>
<table id="customers">
    <tr>
        <th>Product Name</th>
        <th>{{productdetails.name}}</th>
    </tr>
    <tr>
        <th>Entry Date</th>
        <th>{{productdetails.entryDate | date:"EEEE, MMMM d, y"}}</th>
    </tr>
    <tr>
        <th>Price for Today (Including Reduction)</th>
        <th>{{productdetails.price | currency:'EUR'}}</th>
    </tr>
      <tr>
          <td></td>
          <td colspan="2" style="float: right;"><span class="backbtn" routerLink="/">Back</span> </td>
      </tr> 
    
</table>